<!-- templates/registration/password_reset_confirm.html -->
{% extends "base.html" %}

{% block title%}Pawkages - Enter New Password{% endblock title %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function () {
      new Vue({
        el: '#app',
        data: {
        },
        methods: {
        },
      })
    })
</script>
{% endblock script%}

{% block content %}
<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark>
                <v-toolbar-title>Enter New Password</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip right>
                </v-tooltip>
              </v-toolbar>
              <form method="post">
                    {% csrf_token %}
                    <v-card-text>
                      <v-text-field id="password" prepend-icon="lock" name="new_password1" label="New Password" type="password" required></v-text-field>
                      {% if form.new_password1.errors %}<v-alert :value="true" type="error">{{ form.new_password1.errors}}</v-alert><br/>{% endif %}
                      <v-text-field id="password" prepend-icon="lock" name="new_password2" label="Confirm Password" type="password" required></v-text-field>
                      {% if form.new_password2.errors %}<v-alert :value="true" type="error">{{ form.new_password2.errors}}</v-alert><br/>{% endif %}
                      {% if form.non_field_errors %}
                        <v-alert
                          :value="true"
                          type="error">
                          {{ form.non_field_errors }}
                        </v-alert><br/>
                      {% endif %}
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn dark type="submit">Change Password</v-btn>
                    </v-card-actions>
                  </v-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
{% endblock content %}
